unpackaged/main/default/flows/Account_Hierarchy_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Account_in_Hierarchy_is_Customer_c</name>
        <label>Account_in_Hierarchy_is_Customer__c</label>
        <locationX>624</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>loop_through_child_account.Account_in_Hierarchy_is_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_loop_variable_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_loop_variable_to_collection</name>
        <label>Assign loop variable to collection</label>
        <locationX>438</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>listOFAccRecordsUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_child_account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_child_account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>condition_on_account_hierarchy</name>
        <label>condition on account hierarchy</label>
        <locationX>298</locationX>
        <locationY>4</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>condition_on_account_hierarchyupdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getrecords_type_for_account</targetReference>
            </connector>
            <label>condition on account hierarchy update</label>
        </rules>
    </decisions>
    <interviewLabel>Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Hierarchy Change</label>
    <loops>
        <name>loop_through_child_account</name>
        <label>loop through child account</label>
        <locationX>709</locationX>
        <locationY>159</locationY>
        <collectionReference>Get_Child_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Account_in_Hierarchy_is_Customer_c</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_child_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Accounts</name>
        <label>Get Child Accounts</label>
        <locationX>664</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_child_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getrecords_type_for_account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getrecords_type_for_account</name>
        <label>getrecords type for account</label>
        <locationX>468</locationX>
        <locationY>84</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_child_Accounts</name>
        <label>update child Accounts</label>
        <locationX>913</locationX>
        <locationY>169</locationY>
        <inputReference>listOFAccRecordsUpdated</inputReference>
    </recordUpdates>
    <start>
        <locationX>59</locationX>
        <locationY>123</locationY>
        <connector>
            <targetReference>condition_on_account_hierarchy</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>listOfAccountToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>listOFAccRecordsUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
