unpackaged/main/default/flows/case_closure_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_615fe60b_f2ca_4c7f_bc96_af677df48004</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_02cc7fe1_4f23_4082_b8ff_a06b9bb81a69</name>
        <choiceText>Faster Resolution</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Faster Resolution</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1241ba5e_87f6_46d8_a40e_57e86d16db88</name>
        <choiceText>More frequent communication</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More frequent communication</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_26f38941_0f98_4ee5_80ce_d648d81a860d</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_4ad39a49_5f0c_4d23_bd03_11d6c4cf4642</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5f02b26b_e510_4e99_8e78_8efd0d3a8f40</name>
        <choiceText>Make the process easier</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Make the process easier</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6a1ae8c5_eb91_4bb7_b08b_1aaffb411841</name>
        <choiceText>Excellent</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_71f31d03_3068_41cf_a1c7_628bcf8ca95f</name>
        <choiceText>More knowledgeable Help Desk team</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More knowledgeable Help Desk team</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_976ef59d_db07_4dd1_8a95_1421a892e8c3</name>
        <choiceText>Nothing--everything was great</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nothing--everything was great</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a6bdb97b_6d16_4447_89c0_ba393293fbb6</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cdf1da9e_73e9_44a6_8d05_d7c715e1a285</name>
        <choiceText>Poor</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_cf0c9dae_a792_40ad_9514_e582a877f36e</name>
        <choiceText>Higher quality resolution</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Higher quality resolution</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e0b664f0_5bbe_4935_97d6_17accf484115</name>
        <choiceText>Clearer communication</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Clearer communication</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fe999aee_4b71_45bf_a3b4_7d9877f5aae5</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <interviewLabel>Case Closure Survey</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Case Closure Survey</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_case_closure_survey_4_7f766441_caf2_46bf_8ca2_dcb166592050</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>Embed_a_Survey_Link</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>SurveyOwner</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_615fe60b_f2ca_4c7f_bc96_af677df48004</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_bb7b4222_e5e1_48d9_b269_371809bd2c93_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_bb7b4222_e5e1_48d9_b269_371809bd2c93</name>
            <choiceReferences>c_cdf1da9e_73e9_44a6_8d05_d7c715e1a285</choiceReferences>
            <choiceReferences>c_26f38941_0f98_4ee5_80ce_d648d81a860d</choiceReferences>
            <choiceReferences>c_4ad39a49_5f0c_4d23_bd03_11d6c4cf4642</choiceReferences>
            <choiceReferences>c_fe999aee_4b71_45bf_a3b4_7d9877f5aae5</choiceReferences>
            <choiceReferences>c_6a1ae8c5_eb91_4bb7_b08b_1aaffb411841</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;How would you rate your Case experience (from submission to resolution)?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6b350180_4a5c_4e58_a0a8_314c7bb53721</name>
            <choiceReferences>c_cf0c9dae_a792_40ad_9514_e582a877f36e</choiceReferences>
            <choiceReferences>c_02cc7fe1_4f23_4082_b8ff_a06b9bb81a69</choiceReferences>
            <choiceReferences>c_5f02b26b_e510_4e99_8e78_8efd0d3a8f40</choiceReferences>
            <choiceReferences>c_71f31d03_3068_41cf_a1c7_628bcf8ca95f</choiceReferences>
            <choiceReferences>c_1241ba5e_87f6_46d8_a40e_57e86d16db88</choiceReferences>
            <choiceReferences>c_e0b664f0_5bbe_4935_97d6_17accf484115</choiceReferences>
            <choiceReferences>c_a6bdb97b_6d16_4447_89c0_ba393293fbb6</choiceReferences>
            <choiceReferences>c_976ef59d_db07_4dd1_8a95_1421a892e8c3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;What could we have done better (select all that apply)?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_00d04042_e1cb_4457_a723_0f6c5395593a</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Share any other feedback you have for us:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_615fe60b_f2ca_4c7f_bc96_af677df48004</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Thank you. Your feedback has been submitted.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; font-family: serif;&quot;&gt;&lt;i&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/i&gt;&lt;/b&gt;&lt;b style=&quot;font-family: sans-serif;&quot;&gt;&lt;i&gt;Welcome to the Survey!&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_bb7b4222_e5e1_48d9_b269_371809bd2c93_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
