unpackaged/main/default/flows/Case_staus_is_resolved.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Survey_email</name>
        <label>Survey email</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Case.When_the_case_is_resolved_then_survey_mail_is_sent_to_contact</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>get_Survey</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Survey_Invitation_values</name>
        <label>Assign Survey Invitation values</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>sObj_SurveyInvitation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_SurveyName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_SurveyInvitation.SurveyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Survey.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Survey_Invitation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Subject_values</name>
        <label>Assign Survey Subject values</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.SubjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObj_SurveyInvitation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_SurveyName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjSurveySubject.SurveyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Survey.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_sSubject_for_Response</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_status_is_updated_to_resolved</name>
        <label>Case status is updated to resolved</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>case_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_email</targetReference>
            </connector>
            <label>case status</label>
        </rules>
    </decisions>
    <formulas>
        <name>formula_SurveyName</name>
        <dataType>String</dataType>
        <expression>&#39;Survey for Case &#39; + {!$Record.CaseNumber}</expression>
    </formulas>
    <interviewLabel>Case staus is resolved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case staus is resolved</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_sSubject_for_Response</name>
        <label>create sSubject for Response</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>sObjSurveySubject</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_Survey_Invitation</name>
        <label>create Survey Invitation</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Assign_Survey_Subject_values</targetReference>
        </connector>
        <inputReference>sObj_SurveyInvitation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Survey</name>
        <label>get Survey</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Survey_Invitation_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Survey_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_status_is_updated_to_resolved</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>sObj_SurveyInvitation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveyInvitation</objectType>
    </variables>
    <variables>
        <name>sObjSurveySubject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SurveySubject</objectType>
    </variables>
</Flow>
