unpackaged/main/default/flows/Survey_Response.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_new_sSubject</name>
        <label>Assign new sSubject</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sObj_Survey_Subject.SubjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_sSubject_from_Invitation.SubjectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Survey_Subject.SurveyInvitationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.InvitationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Survey_Subject.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Survey_Subject.SurveyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Survey.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Survey_Subject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_responseName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_sSubject_for_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_sSubjInvite</name>
        <label>update sSubjInvite</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>get_sSubject_from_Invitation.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sSubj_Invitation_update</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>formula_responseName</name>
        <dataType>String</dataType>
        <expression>&#39;Response for &#39; + {!$Record.Invitation.Name}</expression>
    </formulas>
    <interviewLabel>Survey Response {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Response</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_sSubject_for_Response</name>
        <label>create sSubject for Response</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>update_sSubjInvite</targetReference>
        </connector>
        <inputReference>sObj_Survey_Subject</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_sSubject_from_Invitation</name>
        <label>get sSubject from Invitation</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_new_sSubject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InvitationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveySubject</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SubjectId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Survey</name>
        <label>get_Survey</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_sSubject_from_Invitation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invitation.SurveyId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>sSubj_Invitation_update</name>
        <label>sSubj Invitation update</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <inputReference>get_sSubject_from_Invitation</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Survey</targetReference>
        </connector>
        <object>SurveyResponse</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>sObj_Survey_Subject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveySubject</objectType>
    </variables>
</Flow>
