unpackaged/main/default/flows/Task_assigning_task_to_respective_queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Update_Task_Owner</name>
        <label>Update Task Owner</label>
        <locationX>969</locationX>
        <locationY>146</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Id_for_Pre_Sales_Engineering_Task_detail.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Task_Owner_0</name>
        <label>Update Task Owner</label>
        <locationX>982</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Id_for_Legal_Task_detail.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Task_Owner_0_0</name>
        <label>Update Task Owner</label>
        <locationX>1007</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Id_for_Account_Manager_Task_detail.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Task_Owner_0_0_0</name>
        <label>Update Task Owner</label>
        <locationX>1013</locationX>
        <locationY>556</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Id_for_Account_Executive_Task_detail.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Task_Owner_0_0_0_0</name>
        <label>Update Task Owner</label>
        <locationX>824</locationX>
        <locationY>754</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Id_for_Finance_Task_detail.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Task_Owner_0_0_0_0_0</name>
        <label>Update Task Owner</label>
        <locationX>439</locationX>
        <locationY>928</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Id_for_Professional_Services_Task_detail.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue_Id_for_Professional_Services_Task_detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Task_Owner_0_0_0_0_0_0</name>
        <label>Update Task Owner</label>
        <locationX>364</locationX>
        <locationY>840</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Id_for_Renewals_Specialist_Task_detail.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Task_Owner_0_0_0_0_0_0_0</name>
        <label>Update Task Owner</label>
        <locationX>195</locationX>
        <locationY>871</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Id_for_Sales_Ops_Task_detail.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Task_Owner_0_0_0_0_0_0_0_0</name>
        <label>Update Task Owner</label>
        <locationX>282</locationX>
        <locationY>793</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Id_for_TPM_Task_detail.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Task_Owner_0_0_0_0_0_0_0_0_0</name>
        <label>Update Task Owner</label>
        <locationX>50</locationX>
        <locationY>179</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Id_for_BDR_Task_detail.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Task_Owner_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Task Owner</label>
        <locationX>115</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Id_for_Product_PM_Task_detail.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Task_Detail_Value_0</name>
        <label>Check Task Detail Value</label>
        <locationX>224</locationX>
        <locationY>328</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Detail_for_Pre_Sales_Engineering_Task_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Sales/Engineering Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Id_for_Pre_Sales_Engineering_Task_detail</targetReference>
            </connector>
            <label>Detail for Pre-Sales/Engineering Task</label>
        </rules>
        <rules>
            <name>Detail_for_Legal_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Id_for_Legal_Task_detail</targetReference>
            </connector>
            <label>Detail for Legal Task</label>
        </rules>
        <rules>
            <name>Detail_for_Account_Manager_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Manager Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Id_for_Account_Manager_Task_detail</targetReference>
            </connector>
            <label>Detail for Account Manager Task</label>
        </rules>
        <rules>
            <name>Details_for_Account_Executive_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Executive Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Id_for_Account_Executive_Task_detail</targetReference>
            </connector>
            <label>Details for Account Executive Task</label>
        </rules>
        <rules>
            <name>Detail_for_Finance_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Id_for_Finance_Task_detail</targetReference>
            </connector>
            <label>Detail for Finance Task</label>
        </rules>
        <rules>
            <name>Detail_for_Professional_Services_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Id_for_Professional_Services_Task_detail</targetReference>
            </connector>
            <label>Detail for Professional Services Task</label>
        </rules>
        <rules>
            <name>Detail_for_Renewals_Specialist_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewals Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Id_for_Renewals_Specialist_Task_detail</targetReference>
            </connector>
            <label>Detail for Renewals Specialist Task</label>
        </rules>
        <rules>
            <name>Detail_for_TPM_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TPM Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Id_for_Product_PM_Task_detail</targetReference>
            </connector>
            <label>Detail for TPM Task</label>
        </rules>
        <rules>
            <name>Detail_for_Sales_Ops_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Ops Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Id_for_BDR_Task_detail</targetReference>
            </connector>
            <label>Detail for Sales Ops Task</label>
        </rules>
        <rules>
            <name>Detail_for_Product_PM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product/PM Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Id_for_TPM_Task_detail</targetReference>
            </connector>
            <label>Detail for Product/PM</label>
        </rules>
        <rules>
            <name>Detail_for_BDR_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BDR Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Id_for_Sales_Ops_Task_detail</targetReference>
            </connector>
            <label>Detail for BDR Task</label>
        </rules>
    </decisions>
    <description>REQ -2437</description>
    <interviewLabel>Task : assigning task to respective queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task : assigning task to respective queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Queue_Id_for_Account_Executive_Task_detail</name>
        <label>Get Queue Id for Account Executive Task detail</label>
        <locationX>830</locationX>
        <locationY>557</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_Owner_0_0_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account_Executive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Id_for_Account_Manager_Task_detail</name>
        <label>Get Queue Id for Account Manager Task detail</label>
        <locationX>814</locationX>
        <locationY>424</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_Owner_0_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account_Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Id_for_BDR_Task_detail</name>
        <label>Get Queue Id for BDR Task detail</label>
        <locationX>150</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_Owner_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BDR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Id_for_Finance_Task_detail</name>
        <label>Get Queue Id for Finance Task detail</label>
        <locationX>626</locationX>
        <locationY>754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_Owner_0_0_0_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Id_for_Legal_Task_detail</name>
        <label>Get Queue Id for Legal Task detail</label>
        <locationX>802</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_Owner_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Id_for_Pre_Sales_Engineering_Task_detail</name>
        <label>Get Queue Id for Pre-Sales/Engineering Task detail</label>
        <locationX>772</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_Owner</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre_Sales_Engineering</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Id_for_Product_PM_Task_detail</name>
        <label>Get Queue Id for Product/PM Task detail</label>
        <locationX>219</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_Owner_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product_PM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Id_for_Professional_Services_Task_detail</name>
        <label>Get Queue Id for Professional Services Task detail</label>
        <locationX>450</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Professional_Services</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Id_for_Renewals_Specialist_Task_detail</name>
        <label>Get Queue Id for Renewals Specialist Task detail</label>
        <locationX>361</locationX>
        <locationY>698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_Owner_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewals_Specialist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Id_for_Sales_Ops_Task_detail</name>
        <label>Get Queue Id for Sales Ops Task detail</label>
        <locationX>192</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_Owner_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Ops</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Id_for_TPM_Task_detail</name>
        <label>Get Queue Id for TPM Task detail</label>
        <locationX>281</locationX>
        <locationY>640</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_Owner_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TPM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>326</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>Check_Task_Detail_Value_0</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarAllTaskQueue</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QueueSobject</objectType>
    </variables>
    <variables>
        <name>VarQueueId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
</Flow>
