unpackaged/main/default/flows/Update_MSA_Contract_on_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Account_Parent_2_assignment</name>
        <label>Account Parent 2 assignment</label>
        <locationX>297</locationX>
        <locationY>1034</locationY>
        <assignmentItems>
            <assignToReference>varAccountParent2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_for_Parent_2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_MSA_Contract_for_parent2_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_valid_MSA_Contracts</name>
        <label>Check for valid MSA Contracts</label>
        <locationX>465</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>Update_MSA_Contract_On_opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSA_Contract_is_expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MSA_Contract_Record.MSA_End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Account_Check</targetReference>
            </connector>
            <label>MSA Contract is expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_valid_MSA_Contracts_0</name>
        <label>Check for valid MSA Contracts</label>
        <locationX>430</locationX>
        <locationY>772</locationY>
        <defaultConnector>
            <targetReference>Update_MSA_Contract_On_opportunity_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSA_Contract_is_expired_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MSA_Contract_Record.MSA_End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_for_Parent_2</targetReference>
            </connector>
            <label>MSA Contract is expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_valid_MSA_Contracts_0_0</name>
        <label>Check for valid MSA Contracts</label>
        <locationX>412</locationX>
        <locationY>1149</locationY>
        <defaultConnector>
            <targetReference>Update_MSA_Contract_On_opportunity_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSA_Contract_is_expired_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MSA_Contract_for_parent2_Account.MSA_End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <label>MSA Contract is expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MSA_Contract_on_Parent_1</name>
        <label>Check MSA Contract on Parent 1</label>
        <locationX>118</locationX>
        <locationY>800</locationY>
        <defaultConnector>
            <targetReference>Get_Account_for_Parent_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_MSA_Record_available_in_Parent_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MSA_Contract_for_parent1_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_valid_MSA_Contracts_0</targetReference>
            </connector>
            <label>Check MSA Record available in Parent 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MSA_Contract_on_Parent_1_0</name>
        <label>Check MSA Contract on Parent 2</label>
        <locationX>155</locationX>
        <locationY>1155</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_MSA_Record_available_in_Parent_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MSA_Contract_for_parent2_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_valid_MSA_Contracts_0_0</targetReference>
            </connector>
            <label>Check MSA Record available in Parent 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Account_Check</name>
        <label>Parent Account Check</label>
        <locationX>475</locationX>
        <locationY>618</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_parent_Account_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSA_Contract_for_parent1_Account</targetReference>
            </connector>
            <label>Check if parent Account exist</label>
        </rules>
    </decisions>
    <description>REQ-2384</description>
    <interviewLabel>Update MSA Contract on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update MSA Contract on Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_for_Parent_2</name>
        <label>Get Account for Parent 2</label>
        <locationX>449</locationX>
        <locationY>980</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Parent_2_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MSA_Contract_for_parent1_Account</name>
        <label>Get MSA Contract for parent1 Account</label>
        <locationX>202</locationX>
        <locationY>612</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MSA_Contract_on_Parent_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MSA_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MSA_Contract_for_parent2_Account</name>
        <label>Get MSA Contract for parent2 Account</label>
        <locationX>159</locationX>
        <locationY>994</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MSA_Contract_on_Parent_1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_for_Parent_2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MSA_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MSA_Contract_Record</name>
        <label>Get MSA Contract Record</label>
        <locationX>210</locationX>
        <locationY>405</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_valid_MSA_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MSA_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_MSA_Contract_On_opportunity</name>
        <label>Update MSA Contract On opportunity</label>
        <locationX>713</locationX>
        <locationY>404</locationY>
        <inputAssignments>
            <field>MSA_Contract__c</field>
            <value>
                <elementReference>Get_MSA_Contract_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MSA_Contract_On_opportunity_0</name>
        <label>Update MSA Contract On opportunity</label>
        <locationX>673</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>MSA_Contract__c</field>
            <value>
                <elementReference>Get_MSA_Contract_for_parent1_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MSA_Contract_On_opportunity_0_0</name>
        <label>Update MSA Contract On opportunity</label>
        <locationX>629</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>MSA_Contract__c</field>
            <value>
                <elementReference>Get_MSA_Contract_for_parent2_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Get_MSA_Contract_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varAccountParent2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
