unpackaged/main/default/flows/Update_primary_contact_and_opportunity_contact_role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_If_OptyContactRole_already_exist</name>
        <label>Check If OptyContactRole already exist</label>
        <locationX>272</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Create_OptyContactRole_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OptyContactRole_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OptyContactRole.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_existing_Contact_Role</targetReference>
            </connector>
            <label>OptyContactRole exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Primary_Contact_added_updated</name>
        <label>Check if Primary Contact added/updated</label>
        <locationX>95</locationX>
        <locationY>119</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_if_primary_contact_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OptyContactRole</targetReference>
            </connector>
            <label>check if primary contact available</label>
        </rules>
    </decisions>
    <interviewLabel>Update primary contact and opportunity contact role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update primary contact and opportunity contact role</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_OptyContactRole_Record</name>
        <label>Create OptyContactRole Record</label>
        <locationX>254</locationX>
        <locationY>536</locationY>
        <inputAssignments>
            <field>Decision_Power_Level__c</field>
            <value>
                <stringValue>Catalyst</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>OptyContactRole</name>
        <label>OptyContactRole</label>
        <locationX>101</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_OptyContactRole_already_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_existing_Contact_Role</name>
        <label>Update existing Contact Role</label>
        <locationX>427</locationX>
        <locationY>449</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OptyContactRole.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Decision_Power_Level__c</field>
            <value>
                <stringValue>Catalyst</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_primary_contact_on_opportunity</name>
        <label>Update primary contact on opportunity</label>
        <locationX>606</locationX>
        <locationY>325</locationY>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>368</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>Check_if_Primary_Contact_added_updated</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
